.form-anime {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  margin-top: 10px;
}

.form-anime input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
}

.form-anime button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-anime button:hover {
  background-color: #0056b3;
}
.anime-cards {
  display: flex;
  flex-wrap: wrap;
}
