#navbar {
  height: 50px;
  background-color: #3f72af;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  color: #dbe2ef;
  border-bottom: 1px solid #dbe2ef;
}
#navbar div {
  display: flex;
}
nav div div a {
  color: #dbe2ef;
  text-decoration: none;
  font-size: 1.5rem;
  margin-inline: 10px;
}

#nomeDoUser {
  color: cyan;
  text-decoration: none;
  font-size: 1.5rem;
  margin-inline: 10px;
}
#infos {
  display: flex;
  align-items: center;
}
#deslogarButton:hover {
  color: cyan;
  cursor: pointer;
}
#deslogarButton {
  color: white;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 3px;
}
